@import './base.css';

#app {
	margin: 0 auto;
	padding: 2em;
	font-weight: normal;
}
a,
.green {
	text-decoration: none;
	color: var(--green);
	transition: 0.4s;
}

@media (hover: hover) {
	a:hover {
		background-color: var(--hover-bg);
		color: var(--hover-text);
	}
}

@media (min-width: 1280px) {
	body {
		width: 1280px;
		display: flex;
		place-items: center;
		margin: auto;
	}

	#app {
		width: 1280px;
		display: grid;
		grid-template-columns: 0.8fr 1fr;
		padding: 1em 2em;
		gap: 2em;
	}
}
